* {
    margin: 0;
    padding: 0;
    
}
body {
   background-color: rgb(245,245,245);
}

div {
    display: block;
    box-sizing: border-box;
}
.advertising .advertising2 {
   display: block;
   width: 100%;
   height: 120px;
   background-image: url(image/cms_15270400062082_IKomG.jpg);
   text-indent: -9999em;
   background-repeat: no-repeat;
   background-position: center 0;
}
.baohan {
    width:1226px;
    margin-left: auto;
    margin-right: auto;
}
.baohan {
    display: block;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    margin: 0 auto;
 
}
.navigation {
    background-color: rgb(51,51,51);
    height: 40px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 30;
    
}

.navigation  a {
    position: relative;
    float: left;
    font-size: 12px;
    color: #b0b0b0;
    text-decoration: none;   
    margin: 0 10px;   
}
.navigation a:hover {
   color: #fff;
}
.gouwu {
    position: relative;
    float: right;
    line-height: 40px;
    height: 40px;
    width:120px;
    background-color: rgb(66, 66, 66);
    padding: 0 5px;
    text-align: center;
    margin-right: 15px;
}
.gouwu a {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.Landing {

    position: relative;
    float: right;
    line-height: 40px;
    padding: 0 5px;
    text-align: center;
}


.gouwu:hover {
   background-color: #fff;
}
.gouwu a:hover {
    color: #ff9122;
}



.Navigation {
    width:1226px;
    margin-left: auto;
    margin-right: auto;
}
.Navigation {
    height: 100px;
    position: relative;
    z-index: 20;
}
.Navigation-logo {
    float: left;
    margin-top: 22px; 
    xmargin-left: 10px;  
    width: 62px;
   
}
.Navigation-logo >.logo {
   
    display: block;
    width: 55px;
    height: 55px;
    background-color: #ff9122;
    background-image: url(image/mi-logo.png) ;
    background-size: 100% 100%;
    
}
.Navigation-list {
    position: relative;
    float: left;
    width: 850px;
    height: 100px;

}

.Navigation-ul {
    position: relative;
    z-index: 10;
    float: left;
    width: 820px;
    height: 88px;
    margin: 0;
    padding: 12px 0 0 30px;
    list-style-type: none;
    font-size: 16px;
}

#kong {
    position: relative;
    float: left;
    height: 88px;
    width:142px
}
.text {
    position: relative;
    float: left;
    display: block;
    line-height: 88px;
    font-size: 16px;
    margin: 0 10px;
    color: #333;
    box-sizing: border-box;
}
.Navigation-lists li:hover {
    color: #ff9122;
    cursor: pointer;
}
.Navigation {
    width:1226px;
    margin-left: auto;
    margin-right: auto;
}

.Navigation-search {
    position: relative;
    float: right;
    margin-top: 25px;
    display: block;
    height: 50px;
    width: 296px;
    margin: 0;

}

.searchfor2 {
    position: absolute;
    top: 0;
    right: 51px;
    z-index: 1;
    width: 223px;
    height: 50px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    line-height: 48px;
    outline: 0;
    transition: all .2s;
    margin-top: 25px;
}
.searchfor3 {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    width: 50px;
    height: 50px;
    border: 1px solid #e0e0e0;
    font-size: 24px;
    line-height: 24px;
    background: #fff;
    color: #616161;
    transition: all .2s;
    margin-top: 25px;
    background-image: url() ;
    background-repeat: no-repeat;
    background-position: center 20;
    display: table-cell;
    vertical-align: middle;
}

.searchfor2:active {
    border-color: rgb(255,103,0)

}

.searchfor3:active {
    border-color: rgb(255,103,0)

}

.liebiao {
    width:1226px;
    margin-left: auto;
    margin-right: auto;
}

.Leftlist {
    height: 461px;
    width: 1226px;
    background-image: url(image/xmad_15272324445758_kHdEs.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    display: block;
    max-width: 100%;
    border: 0;
  
}
.luobo {
    height: 460px;
    width: 234px;
    background-color: #333;
    background: rgba(34, 20, 20, 0.5);
   

}
.liebiao1{
    position: relative;
    display: block;
    padding: 20px 0;
}
.category-item {
    width: 234px;
    height: 42px;
    line-height: 42px;
    list-style-type: none;
    font-size: 14px;
   
}
.category-item:hover {
    background-color: #ff5a0b;

}

.icon-z {
    margin-right: 20px;
    margin-top: 8px;
    float: right;
    width: 20px;
    height: 20px;
    background-image: url(image/YOU.PNG);
    background-size: 100% 100%;
}
.title {
    padding-left: 30px;
    color: #ffffff;
    text-decoration:none; 
}

.Flashpurchase {
    margin-top:10px;
    height: 170px;
    width: 1226px;
}
.span6 {

    margin: 0 0 15px 0;
    width: 228px;
    height: 164px;
}
.span3 {
    float: right;
    margin-top:-178px;
}
ul {
    display: block;
}
.qiye li {
    float: left;
    list-style-type: none;
    font-size: 12px;
    text-align: center;
    width: 70px;
    
    margin: 0 5px 5px 0;
    height: 82px;
    background: #5f5750;
}

.zhanshi {
    
    float: left;
    height: 170px;
    width: 978px;
}

.zhanshi li  {
    float: left;
    height: 170px;
    width: 316px;
   
    margin-left: 10px;
    list-style-type: none;
    background-color: #c0c0c0;
}
.zhanshi li:hover {
    cursor:pointer;
    box-shadow:0 20px 20px -18px #535351; 
}
.one {
   background-image: url(image/xmad_15248252106128_BeQXt.jpg);
   background-size: 100% 100%;
}
.two {
    background-image: url(image/xmad_15266345206274_OkGLS.jpg);
    background-size: 100% 100%;
 }
 .thr {
 
    background-image: url(image/xmad_15272384300465_RxLDs.png);
    background-size: 100% 100%;
 }

 .shangou {
     width: 1226px;
     height: 58px;
     margin-top: 25px;
     background: #ffffff;
 }
 .shangou h2 {
     float: left;
     font-size: 22px;
     line-height: 58px;
     font-family: "Microsoft Yahei";
     color: #333;
 }
.tubiao {
    
}
 .zuo {
    
    margin-top: 25px;
     float: right;
     margin-left: -0px;
     width: 24px;
     height: 16px;
     border: 1px solid #e0e0e0;
     background-image: url(image/YOU.PNG);
     background-size: 100% 100%;
 }
 .you {
    margin-top: 25px;
    float: right;
    width: 24px;
    height: 16px;
    border: 1px solid #e0e0e0;
    background-image: url(image/ZUO.PNG);
    background-size: 100% 100%;
 }

 .zuo + .you:hover {
   
 }

 .hot-s {
     
 }